html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map_canvas {
    height: 100%;
    width: 100%;
    float: left;
}

#sidebar {
    float: right;
    width: 300px; 
    height: 100%;
    background-color: black; 
}

#title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    color:#ffffff;
}
